fastapi
uvicorn
sqlalchemy[asyncio]
aiohttp
aiohttp_socks
redis==5.0.0
celery
boto3
pyotp
phe
cryptography
docker
hvac
prometheus_client
opentelemetry-sdk
tenacity
simpleeval
web3.py
scipy
torch
transformers
scikit-learn
qiskit
bleach
psutil
numpy
pyyaml
pydantic
spacy
joblib
websockets
xgboost
msgpack
pyjwt
dnspython
ratelimit
imblearn
networkx
pyparsing
hypothesis
aiofiles
crystal-kyber
crystal-dilithium
stix2
taxii2client
requests
selenium
beautifulsoup4
fake-useragent
textblob
bandit
soundfile
playwright
